#sidebar {
  background: #f2f2f7;

  width: 360px;
  height: 100vh;
}
#sidebar ul.chat-list {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
#sidebar ul.chat-list li.chat-item {
  background: rgba(0, 113, 238, 1);
  color: white;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar ul.chat-list li.chat-item img {
  width: 56px;
  height: 56px;
  background-color: white;

  border-radius: 100%;
}
#sidebar ul.chat-list li.chat-item .chat-item-content-text {
  display: flex;
  flex-direction: column;
  padding: 15px;
  max-height: 100%;
}

#sidebar ul.chat-list li.chat-item .chat-item-content-text .chat-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sidebar ul.chat-list li.chat-item .chat-item-content-text .chat-item-top :first-child {
  
    font-size: 16px;
    font-weight: 590;
    line-height: 22px;
    letter-spacing: -0.0043em;
    text-align: left;
    
}


#sidebar ul.chat-list li.chat-item .chat-item-content-text .chat-item-top p {

    margin: 0 !important;
    padding: 0% !important;

font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.0031em;
text-align: left;

}
